<div class="class card mx-auto text-cener border-primary" style="width: 18rem;">
    <img src="./../../assets/images/codesimonwiselogo.png" alt="Angular logo" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">CodeSimonWise Blogs</h5>
        <p class="card-text">
            A personal blog created with The Angular Framework and the Scully static site genaretor.
        </p>
        <a href="https://angular.io" target="_blank" class="card-link">Angular</a>
        <a href="https://scully.io" target="_blank" class="card-link">Scully</a>
    </div>
</div>